// COLORS -----
$black: #19293A;
$pink: #C0345E;
$text-color: #506473;
$background-color: #EDEFF1;

$testimonials-active: $black;
$testimonials-inactive: #E2E4E6;

$text-muted: #9EA9B1;

// BREAKPOINTS -----
$tablet-width: 768px;
$desktop-width: 1200px;
$xlarge-width: 1400px;
